/* FULL BACKGROUND IMAGE */
.bg-wrapper {
  min-height: 100vh;
  background: 
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../images/ridezy-bg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM CARD */
.booking-card {
  width: 420px;
  background: #ffffff;
  border-radius: 18px;
  padding: 26px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.4);
}

.booking-card h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 16px;
}

/* INPUTS */
.booking-card input,
.booking-card select,
.booking-card textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  font-size: 14px;
}

/* ROW */
.row {
  display: flex;
  gap: 10px;
}

/* BUTTON */
.booking-card button {
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.booking-card button:hover {
  background: #111;
}
